main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0
}

.carousel-caption h2 {
  text-transform: none;
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

div h1.top-products {
  text-align: center;
}

.navbar {
  font-size: 1rem;
  text-transform: none
}

.MuiButtonBase-root {
  margin-top: 1rem;
}

.MuiInputBase-root {
  margin-bottom: 1.3rem;
}

.card {
  transition: transform .2s
}

a:hover {
  text-decoration: none;
}

.card:hover {
  background: rgba(43, 177, 2, 0.144);
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(201, 140, 140, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.brand {
  font-family: 'Rochester', cursive;
  font-size: 1.7rem;
}

.navbar-dark .navbar-brand {
  color: #00e676
}